In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2020-11-29 17:03:49,-53.15,-70.92,53.60,58,75,31.09
1,1,Mar Del Plata,AR,2020-11-29 16:59:18,-38.00,-57.56,77.00,44,0,17.22
2,2,Ushuaia,AR,2020-11-29 17:00:19,-54.80,-68.30,48.20,66,75,20.80
3,3,Deputatskiy,RU,2020-11-29 17:12:29,69.30,139.90,-15.72,89,23,6.64
4,4,Whitehorse,CA,2020-11-29 17:02:21,60.72,-135.05,24.80,85,20,19.46

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

In [5]:
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mar Del Plata,AR,2020-11-29 16:59:18,-38.00,-57.56,77.00,44,0,17.22
7,7,Puerto Ayora,EC,2020-11-29 17:03:59,-0.74,-90.35,75.20,73,75,12.75
19,19,Mahebourg,MU,2020-11-29 17:01:06,-20.41,57.70,77.00,78,40,8.05
24,24,Rikitea,PF,2020-11-29 17:03:42,-23.12,-134.97,76.30,82,96,12.33
27,27,Sao Gabriel Da Cachoeira,BR,2020-11-29 17:09:33,-0.13,-67.09,84.20,74,40,2.24
31,31,Kieta,PG,2020-11-29 17:04:03,-6.22,155.63,79.66,79,99,2.95
41,41,Arraial Do Cabo,BR,2020-11-29 17:03:45,-22.97,-42.03,84.20,65,0,26.40
43,43,Hobyo,SO,2020-11-29 17:04:11,5.35,48.53,79.57,72,23,13.40
44,44,Kapaa,US,2020-11-29 17:03:44,22.08,-159.32,75.20,78,75,14.99
48,48,Sibolga,ID,2020-11-29 17:12:32,1.74,98.78,76.62,82,80,2.89

In [11]:
preferred_cities_df.count()

City_ID       157
City          157
Country       156
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp    Lat     Lng Hotel Name
1              Mar Del Plata      AR     77.00 -38.00  -57.56
7               Puerto Ayora      EC     75.20  -0.74  -90.35
19                 Mahebourg      MU     77.00 -20.41   57.70
24                   Rikitea      PF     76.30 -23.12 -134.97
27  Sao Gabriel Da Cachoeira      BR     84.20  -0.13  -67.09
31                     Kieta      PG     79.66  -6.22  155.63
41           Arraial Do Cabo      BR     84.20 -22.97  -42.03
43                     Hobyo      SO     79.57   5.35   48.53
44                     Kapaa      US     75.20  22.08 -159.32
48                   Sibolga      ID     76.62   1.74   98.78

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [23]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mar Del Plata,AR,77.00,-38.00,-57.56,Gran Hotel Mar del Plata habitaciones
7,Puerto Ayora,EC,75.20,-0.74,-90.35,Finch Bay Galapagos Hotel
19,Mahebourg,MU,77.00,-20.41,57.70,Shandrani Beachcomber Resort & Spa
24,Rikitea,PF,76.30,-23.12,-134.97,Pension Maro'i
27,Sao Gabriel Da Cachoeira,BR,84.20,-0.13,-67.09,Alarne - Área De Lazer Do Alto Rio Negro
...,...,...,...,...,...,...
535,Boa Vista,BR,86.00,2.82,-60.67,Aipana Plaza Hotel
539,Venancio Aires,BR,87.01,-29.61,-52.19,Hotel Guest
540,Capanema,BR,83.89,-1.20,-47.18,Hotel Legal
543,Werda,BW,83.57,-25.27,23.28,
551,Thinadhoo,MV,82.54,0.53,72.93,

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))